{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Hello {{user.username}}</h1>
    <!-- TODO: ideally every card will be a slideshow type set of cards w/ ~ 5 items each -->
    <div class="row">

        <div class="col-sm-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Popular Datasets</h5>
                    <p class="card-text">Browse popular datasets.</p>
                    <a href="#" class="btn btn-primary">View All Popular Datasets</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Browse Datasets</h5>
                    <p class="card-text">View all datasets.</p>
                    <a href="/datasets" class="btn btn-primary">View All Datasets</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mx-auto">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Your Datasets</h5>
                    <p class="card-text">View datasets you've uploaded or added to your favorites.</p>
                    <a href="#" class="btn btn-primary">View Your Datasets</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
