{% extends 'base.html' %}
{% block content %}
    <h3 class="mt-2">Showing search results for {{ search_query }}</h3>

    {% include 'partials/datasets.html' %}

    {% if datasets.has_prev %}
        <a href="{{ url_for('main.search', page=datasets.prev_num, search_param=search_query) }}">&lt;&lt; Newer posts</a>
    {% endif %}
    |
    {% if datasets.has_next %}
        <a href="{{ url_for('main.search', page=datasets.next_num, search_param=search_query) }}">Older posts &gt;&gt;</a>
    {% endif %}
{% endblock %}
