{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="container text-center">
    <h3 class="mt-4">Sign Up For an Account</h3>
    <form action="/signup" method="POST" class="mt-4">
        {{ form.csrf_token }}
        <fieldset>
            {{ form.username.label }}
            {{ form.username }}
            <ul>
            {% for error in form.username.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>
    
            {{ form.password.label }}
            {{ form.password }}
            <ul>
            {% for error in form.password.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
            </ul>
    
            {{ form.submit }}
        </fieldset>
    </form>
</div>
{% endblock %}