<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" id="frick">
            <img src="{{url_for('static', filename='img/icon.png')}}" alt="" width="35" height="auto">
            Data Finder
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index_datasets">Datasets</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/{{ current_user.username }}">Your Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                {% endif %}

            </ul>

            {% if g.search_form %}
                <form class="d-flex me-lg-auto" method="GET" action="{{ url_for('main.search') }}">
                    {{ g.search_form.search_param(class='form-control me-2', placeholder=g.search_form.search_param.label.text) }}
                    {{ g.search_form.submit(class='btn btn-outline-success') }}
                </form>
            {% endif %}

            <a class="btn btn-primary" href="/dataset_new">Upload a Dataset</a>
        </div>
    </div>
</nav>